.DS_Store
dump.rdb
.env
.envrc
Guardfile
.ruby-version
.rspec*
erl_crash.dump
.sass-cache/
jmeter.log
.powrc
.simplecov
.rspec
.floo
.flooignore
npm-debug.log
.nvmrc
.node-version
.sublimelinterrc
jsconfig.json
nvm-use.log
.vscode/
# tsconfig.json
.tool-versions
.tool-settings
Procfile.development
.dockerenv.dev
yarn-error.log
.envrc
.elixir_ls/
docker-compose.dev.yml
.nova/
